<% unless @game.active.dead %>
  <h1><%= @game.player_1.name %> vs <%= @game.player_2.name %></h1>
  <br>
  <h2><%= @game.active.name %>: <%= @game.active.hit_points %> HP</h2>
  <h2><%= @game.passive.name %>: <%= @game.passive.hit_points %> HP</h2>

  <form action="/attack">
    <input type="submit" value="Attack">
  </form>
<% end %>


<% if @game.active.dead %>
  and <%= @game.active.name %> Died!
  <a href='/'>Fight again?</a>
<% end %>
